


/***************************ABOUT PAGE********************************/


#rowabout{
  padding-top: 100px;
}

/***************************TIMELINE********************************/

#timeline{
  padding-top: 70px;
  text-align: center;
  margin-bottom: 50px;
}

.grow-left { 
  transition: all .2s ease-in-out; 
}

.grow-left:hover { 
  transform: scale(1.4); 
}

.grow-right { 
  transition: all .2s ease-in-out; 
  float: right;
}

.grow-right:hover { 
  transform: scale(1.4); 
}

#boxLeft{
  border-right: 2px solid #4CC3C8;
  padding-top: 20px;
}

#boxRight{
  padding-top:70px;
}

.timeline-md div div {
  padding-bottom: 50px;
  padding-right: 0;
  padding-left: 0;
}

.timeline-md p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:#58595B;
  font-size: 12px;
}

.timeline-md p:first-child {
  font-size: 16px;
  font-weight: 700;
}

#boxLeft p {
  padding-right: 12px;
  text-align: right;
}

#boxRight p {
  padding-left: 12px;
  text-align: left;
}

.timeline-xs {
  display: none;
}

@media only screen and (max-width: 565px){
  .timeline-md {
    display: none;
  }

  .timeline-xs {
    display: block;
  }

  .timeline-xs p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#58595B;
    font-size: 12px;
  }

  .timeline-xs p:first-child {
    font-size: 16px;
    font-weight: 700;
  }

  .line {
    border-right: 2px solid #4CC3C8;
    height: 10px;
    margin: 5px 0;
  }
}

/***************************CLIENTS********************************/

#clients{

/*  background-color: blue;*/
  padding-top: 10px;
  text-align: center;
}

.client-container {
  padding: 0;
}

#iconRow{
  background-color: #F4F4F4;
  margin-top: 40px;
  padding: 25px 0 25px 0;
}

.iconCol{
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 767px){
  .client-container {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 565px){
  .col-sm-6{
    width: 50%
  }
  .col-sm-3{
    width: 25%
  }
}
