@charset "UTF-8";

/*NAVIGATION BAR*/

.navbar-brand{
  padding: 20px 15px 0 15px;
}

.logo{
  padding-top: 7px;
}

.navbar-nav {
  float: right;
}

body{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav > li > a:hover{
  color: #4CC3C8 !important;
}

.navbar-brand,        /*NAVIGATION BAR HEIGHT*/
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.active a{
    color: #4CC3C8 !important;
}

.navbar-toggle{
  margin-top: 10px;
}

@media only screen and (min-width: 768px){
  .navbar-default .navbar-nav > .active > a{
    background: none !important;
}
}
  
@media only screen and (max-width: 767px){
  .navbar-nav {
    text-align: center;
    float: none;
    }

    .navbar-brand,        /*NAVIGATION BAR HEIGHT*/
    .navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}
  .logo{
    width: 80%;
  }

  #copy{
    text-align: center;
  }

  footer{
    height: 100px !important;
  }
}

@media only screen and (max-width: 400px){
   footer{
    height: 120px !important;
  } 
}

@media (max-width:330px){
  a.navbar-brand{
  width: 255px;
  padding-top: 5px;
}
}
/*END NAVIGATION BAR*/

/*START CONTAINER*/

.container{
  max-width: 1100px;
  width: 100%;
}

/*END CONTAINER*/



/***************************FOOTER********************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #4D4543;
  float: left;
}

#copyright{
  float: left;
  position: relative;
  width:88%;
  padding-top: 25px;
}

#copy{
  color:#F9E128;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 20px;
  
}

.icons{
  padding-top: 10px;
}

.icons2{
  float: right;
  padding-top: 10px;
}

/*NO PADDING*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.titleText{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:#58595B;
  border-bottom: 2px solid #FFF200;
  width: 200px;
  padding-bottom: 5px;
  margin: auto;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

p{
  margin: 0;
}